/* ----- Header and navigation ----- */

header {
  background-color: rgb(0, 0, 0);
  width: 100%;
  display: flex;
  padding: 20px 0 20px 0;
}


/* ----- Header content ----- */

.header-content{
  display: inline;
  margin: auto;
}

.top-header-content{
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-content img{
    width: 50px;
    margin-right: 25px;
}

.header-content h1{
  font-family: firacode;
  font-size: 30px;
  color: white;
}


/* ----- Navbar ----- */

nav {
  margin: -25px 0 -15px 0;
  font-family: firacode;
  font-size: 18px;
}

nav ul {
  display: flex;
}

nav li {
  display: inline;
}

nav li a {
  display: flex;
  color: white;
  align-items: center;
  padding: 5px 20px 5px 20px;
  margin: auto;
  text-decoration: none;
}

nav li a:hover {
  background-color: #242424;
  color: white;
}


/* ----- Dropdown ----- */

.dropdown .dropbtn {
  font-size: 18px;  
  border: none;
  outline: none;
  color: white;
  padding: 5px 20px 5px 20px;
  background-color: inherit;
  font-family: inherit;
  margin: auto;

}

.dropdown .dropbtn:hover {
  background-color: #222222;
  color: white;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 5px 20px 5px 20px;
  text-decoration: none;
  font-size: 16px;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  color: black;
  background-color: #ddd;
}

.show {
  display: block;
}