@font-face {
    font-family: "dosis";
    src: url(fonts/Dosis-VariableFont_wght.ttf);
}


@font-face {
    font-family: "firacode";
    src: url(fonts/FiraCode-VariableFont_wght.ttf);
}



/* ----- Main elements ----- */


html {
    overflow-y: scroll;
}


body {
  margin: 0;
  padding: 0;
  background-image: url('img/stars.gif');
} 


header {
  background-color: black;
  width: 100%;
  height: fit-content;
  display: flex;
  margin: 0;
  padding: 20px 0 20px 0;
  text-align: center;
  font-family: tahoma;
  line-height: 18px;
  border-bottom: 5px solid #000000;
}


footer {
  background-color: black;
  width: 100%;
  height: fit-content;
  margin-top: 10px;
  padding: 10px 0 10px 0;
  text-align: center;
  line-height: 18px;
  color: white;
  font-family: tahoma;
  font-size: 14px;
}


.fixed-footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;

}



/* ----- Header and navigation ----- */


.header-content {
  max-width: 1200px;
  margin: auto;
}


.header-image {
  float: left;
  padding: 13px 20px 0 20px;
}


.header-title {
  float: left;
  padding: 28px 50px 0 10px;
  color: white;
}


.header-nav {
  float: left;
}


nav {
  margin-top: 10px;
  line-height: 18px;
  font-family: Calibri;
  font-size: 20px;
}


nav ul {
  list-style: none;
  margin: 5px;
  padding: 0;
  background-color: black;
  display: flex;
}


nav li {
  display: inline;
}


nav li a {
  display: flex;
  color: white;
  align-items: center;
  padding: 5px 20px 5px 20px;
  margin: auto;
  text-decoration: none;
}


nav li a:hover {
  background-color: #222222;
  color: white;
}



/* ----- Main content ----- */


.content {
  padding-bottom: 20px;
  margin: auto;
  margin-top: 10px;
  max-width: 950px;
  height: fit-content;
  background-color: #EAEFEF;
  border: 5px solid black;
  border-radius: 15px;
  line-height: 140%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
}


.paragraph {
  text-indent: 50px;
}


.thick-hr {
  background-color: black;
  border: 0 none;
  color: black;
  height: 1px;
}


figcaption {
  color: rgb(74, 74, 74);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 14px;
  text-align: center;
  line-height: 16px;
}



/* ----- Main content - titles ----- */


.center-title {
  width: 875px;
  margin: auto;
  margin-top: 25px;
  padding: 10px;
  text-align: center;
  background-color: #7F8CAA;
  border: 3px solid #7F8CAA;
  border-radius: 8px;
  box-shadow: 5px 5px 0 #333446;
}



h2{
  margin-top: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
}


h3{
  margin-top: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
}



/* ----- Main content - boxes ----- */


.text-box {
  margin-bottom: 50px;
  width: fit-content;
  height: fit-content;
}


.round-box {
  margin: 8px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 15px;
  width: fit-content;
  height: fit-content;
}


.padded-box{
  margin: 10px;
  padding: 5px 50px 5px 50px;
}


ul {
  line-height: 200%;
}



/* ----- Links and buttons ----- */


a {
  text-decoration: none;
  color: #0000EE;
}


a:hover {
  text-decoration: none;
  color: #000062;
}


button {
  padding: 8px;
}


button:hover {
  background-color: gray;
}


button a {
  color: black;
}


button a:hover {
  color: black;
}



/* ----- Specifics - date navigation ----- */


#date-nav {
  padding: 0 0 20px 20px;
  margin: 10px 0 -50px 0;
  line-height: 20px;
}


#date-nav h4 {
  color: #2c2c2c;
}


#date-nav h5 {
  color: #5f5f5f;
  margin: 15px 0 15px 0;
}



/* Socials button (about page) */

#socials{
  display: flex;
  margin: auto;
  margin-top: 25px;
  padding: 10px 30px 3px 30px;
  background-color: #B8CFCE;
  border-radius: 15px;
  width: fit-content;
  height: fit-content;
  box-shadow: 5px 5px 0 #333446;
}



/* ----- EVERYTHING RELATED TO PHOTO ALBUMS ----- */

.album {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.album a {
  margin: auto;
}

.album img {
  transition:transform 0.25s ease;
}

.album-column-3 img:hover {
  -webkit-transform:scale(1.03);
  transform:scale(1.03);
}

.album-column-3 {
    box-sizing: border-box;
    flex: 33%;
    max-width: 33%;
    padding: 0 4px;
}

.album-column-3 img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}



/*----- Dropdown -----*/


.dropdown .dropbtn {
  font-size: 20px;  
  border: none;
  outline: none;
  color: white;
  padding: 16px 20px 16px 20px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  line-height: 18px;
}


.dropdown .dropbtn:hover {
  background-color: #222222;
  color: white;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #EAEFEF;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}


.dropdown-content a {
  float: none;
  color: black;
  padding: 4px 12px 4px 20px;
  text-decoration: none;
  font-size: 18px;
  display: block;
  text-align: left;
}


.dropdown-content a:hover {
  color: black;
  background-color: #ddd;
}


.dropdown:hover .dropdown-content {
  display: block;
}



/* ----- LEGO - General changes ----- */

.content-lego {
  padding-bottom: 20px;
  margin: auto;
  margin-top: 10px;
  max-width: 950px;
  height: fit-content;
  background-color: #EAEFEF;
  border: 5px solid #7F8CAA;
  border-radius: 15px;
  box-shadow: 5px 5px 0 #333446;
  line-height: 140%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
}

.content-lego figure {
  margin: 0px;
}



/* ----- PHOTOGRAPHY - General changes ----- */

.content-photography {
  padding-bottom: 20px;
  margin: auto;
  margin-top: 10px;
  max-width: 950px;
  height: fit-content;
  background-color: rgb(255, 255, 255);
  border: 3px solid #7F8CAA;
  border-radius: 15px;
  box-shadow: 3px 5px 0 #333446;
  line-height: 140%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
}