/* ---------- New look CSS starts here... ---------- */

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-image: url('img/stars.gif');
} 


header {
  background-color: black;
  width: 100%;
  height: fit-content;
  display: flex;
  margin: 0;
  padding: 15px 0 15px 0;
  text-align: center;
  font-family: tahoma;
  line-height: 18px;
  border-bottom: 5px solid #000000;
}


.header-content {
  max-width: 1200px;
  margin: auto;
}


.header-image {
  float: left;
  padding: 0 20px 0 20px;
}

.header-title {
  float: left;
  padding: 15px 50px 0 10px;
  color: white;
}


.header-nav {
  float: left;
}


nav {
  margin-top: 10px;
  line-height: 18px;
  font-family: Calibri;
  font-size: 20px;
}


nav ul {
  list-style: none;
  margin: 5px;
  padding: 0;
  background-color: black;
  display: flex;
}


nav li {
  display: inline;
}


nav li a {
  display: flex;
  color: white;
  align-items: center;
  padding: 10px 20px 10px 20px;
  margin: auto;
}
    

nav li a:hover {
  background-color: #222222;
  color: white;
}


nav li:first-child{
  margin-right: auto;
}


.content {
  padding: 10px 50px 25px 50px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 950px;
  height: fit-content;
  background-color: white;
  background-image: url('img/paper.jpg');
  border: 5px solid black;
  border-radius: 25px;
  line-height: 140%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
}


a {
  text-decoration: none;
  color: #0000EE;
}

a:hover {
  text-decoration: none;
  color: #000062;
}


ul {
  line-height: 200%;
}


.paragraph {
  text-indent: 50px;
}


.thick-hr {
  background-color: black;
  border: 0 none;
  color: black;
  height: 1px;
}


.center-title {
  width: 800px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5);
  border: 3px solid black;
  border-radius: 25px;
}



.round-box {
  background-color: rgba(255, 255, 255, 0.5);
  margin: 8px;
  padding-left: 30px;
  padding-right: 30px;
  border: 2px dashed black;
  border-radius: 10px;
  width:fit-content;
}


figcaption {
  color: rgb(74, 74, 74);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 14px;
  text-align: center;
  line-height: 18px;
}


#date-nav {
  padding: 0 0 20px 20px;
  margin: -5px 0 -50px -40px;
  line-height: 20px;
}


#date-nav h4 {
  color: #2c2c2c;
}

#date-nav h5 {
  color: #5f5f5f;
  margin: 15px 0 15px 0;
}



/* ---------- ... and ends here ---------- */



/* ---------- Sidebar CSS starts here... ---------- */


.sidebar{
  position: fixed;
  top: 0; 
  right: 0;
  height: 100vh;
  width: 150px;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(12px);
  list-style: none;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}


.sidebar li{
  width: 100%;
}


.sidebar li:first-child{
  background-color: rgba(255, 255, 255, 0.468);
}


.sidebar a{
  width: 100%;
}


.menu-button{
  display: none;
  margin-top: -5px;
  
}

.menu-button a:hover{
  background-color: black;
}



/* ---------- ... and ends here ---------- */



/* ---------- Media queries start here... ---------- */


@media  only screen and (max-width: 1200px){
  .hideOnMobile{
    display: none;
  }
  .menu-button{
    display: block;
  }
}


/* ---------- ... and ends here ---------- */



/* ---------- Dropdown CSS starts here... ---------- */



.dropdown {
    float: left;
    overflow: hidden;
}


.dropdown .dropbtn {
    font-family: Calibri;
    font-size: 20px;
    padding: 6px 20px 6px 20px;
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
    margin: 0;
}

.dropdown:hover .dropbtn {
  background-color: #222222;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}


.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}


.dropdown-content a:hover {
  background-color: #ddd;
}


.dropdown:hover .dropdown-content {
  display: block;
}



/* ---------- ... and ends here ---------- */



/* ---------- Gallery and photography CSS starts here... ---------- */

    .gallery{
        background: url("img/ghibli.jpg") no-repeat center center fixed;
        background-size: cover;
    }

    .gallery img {
        transition:transform 0.25s ease;
    }

    .gallery img:hover {
        -webkit-transform:scale(1.02);
        transform:scale(1.02);
    }

    main a {
        color: blue;
    }



    .album {
        display: flex;
        flex-wrap: wrap;
        padding: 0 4px;
    }

    .album-column {
        box-sizing: border-box;
        flex: 25%;
        max-width: 25%;
        padding: 0 4px;
    }

    .album-column-3 {
        box-sizing: border-box;
        flex: 33%;
        max-width: 33%;
        padding: 0 4px;
    }

    .album-column img, .album-column-3 img {
        margin-top: 8px;
        vertical-align: middle;
        width: 100%;
    }

/* ---------- ... and ends here ---------- */