/* ---------- New look CSS starts here... ---------- */

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-image: url('img/stars.gif');
} 


header {
  background-color: black;
  width: 100%;
  height: fit-content;
  display: flex;
  margin: 0;
  padding: 10px 0 10px 0;
  text-align: center;
  font-family: tahoma;
  line-height: 18px;
  border-bottom: 5px solid #000000;
}


.header-content {
  max-width: 1200px;
  margin: auto;
}


.header-image {
  float: left;
  padding: 13px 20px 0 20px;
}


.header-title {
  float: left;
  padding: 28px 50px 0 10px;
  color: white;
}


.header-nav {
  float: left;
}


nav {
  margin-top: 10px;
  line-height: 18px;
  font-family: Calibri;
  font-size: 20px;
}


nav ul {
  list-style: none;
  margin: 5px;
  padding: 0;
  background-color: black;
  display: flex;
}


nav li {
  display: inline;
}


nav li a {
  display: flex;
  color: white;
  align-items: center;
  padding: 10px 20px 10px 20px;
  margin: auto;
}
    

nav li a:hover {
  background-color: #222222;
  color: white;
}


.content {
  padding: 10px 50px 25px 50px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 950px;
  height: fit-content;
  background-color: white;
  background-image: url('img/paper.jpg');
  border: 5px solid black;
  border-radius: 25px;
  line-height: 140%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
}


a {
  text-decoration: none;
  color: #0000EE;
}


a:hover {
  text-decoration: none;
  color: #000062;
}


ul {
  line-height: 200%;
}


.paragraph {
  text-indent: 50px;
}


.thick-hr {
  background-color: black;
  border: 0 none;
  color: black;
  height: 1px;
}


.center-title {
  width: 800px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5);
  border: 3px solid black;
  border-radius: 25px;
}


.round-box {
  background-color: rgba(255, 255, 255, 0.5);
  margin: 8px;
  padding-left: 30px;
  padding-right: 30px;
  border: 2px dashed black;
  border-radius: 10px;
  width: fit-content;
  height: fit-content;
}


figcaption {
  color: rgb(74, 74, 74);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 14px;
  text-align: center;
  line-height: 18px;
}


button {
  padding: 8px;
}


button:hover {
  background-color: gray;
}


button a {
  color: black;
}


button a:hover {
  color: black;
}


#date-nav {
  padding: 0 0 20px 20px;
  margin: -5px 0 -50px -40px;
  line-height: 20px;
}


#date-nav h4 {
  color: #2c2c2c;
}


#date-nav h5 {
  color: #5f5f5f;
  margin: 15px 0 15px 0;
}



/* ---------- ... and ends here ---------- */



/* ---------- Gallery and photography CSS starts here... ---------- */

.gallery{
    background: url("img/ghibli.jpg") no-repeat center center fixed;
    background-size: cover;
}

.gallery img {
    transition:transform 0.25s ease;
}

.gallery img:hover {
    -webkit-transform:scale(1.02);
    transform:scale(1.02);
}



.album {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.album-column {
    box-sizing: border-box;
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.album-column-3 {
    box-sizing: border-box;
    flex: 33%;
    max-width: 33%;
    padding: 0 4px;
}

.album-column img, .album-column-3 img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

/* ---------- ... and ends here ---------- */


/* NEW ALBUM STUFF, MADE FOR LEGO */

.album a {
  margin: auto;
}


.album img {
  width: 500px;
  margin-top: 10px;
}


.album img {
      transition:transform 0.25s ease;
  }


.album img:hover {
  -webkit-transform:scale(1.02);
  transform:scale(1.02);
}